<h1>{{Comment}}</h1>
<h2>{{UserName}}</h2>

<script>
    function onSubmit() {

        const comment = document.getElementById('comment').value;
        const userName = document.getElementById('userName').value;

        $.ajax({
            url: '/comment/{{ Id }}',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ comment: comment, userName: userName }),
            method: 'PUT', complete: () => window.location.reload()
        })
    }

    function onDelete() {
        $.ajax({
            url: '/comment/{{Id}}/delete',
            method: 'DELETE', complete: () => window.location = "/comment"
        })
    }

</script>

<form onsubmit="onSubmit(); return false">
    <label for="name">Comment: </label>
    <input type="text" name="comment" id="comment" value="{{Comment}}">
    </div>
    <div>
        <label for="name">Username: </label>
        <input type="text" name="userName" id="userName" value="{{UserName}}">
    </div>
    <div>
        <button type="submit" id="submitButton">Update Comment</button>
    </div>
</form>

<div>
    <button onclick="onDelete()" id="deleteButton">Delete Comment</button>
</div>