<h1>{{Title}}</h1>
<h2>{{Blog}}</h2>
<h2>{{UserName}}</h2>

<script>
    function onSubmit() {

        const title = document.getElementById('title').value;
        const blog = document.getElementById('blog').value;
        const userName = document.getElementById('userName').value;

        $.ajax({
            url: '/blog/{{ Id }}',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ title: title, blog: blog, userName: userName }),
            method: 'PUT', complete: () => window.location.reload()
        })
    }

    function onDelete() {
        $.ajax({
            url: '/blog/{{Id}}/delete',
            method: 'DELETE', complete: () => window.location = "/blog"
        })
    }

</script>

<form onsubmit="onSubmit(); return false">
    <div>
        <label for="name">Title: </label>
        <input type="text" name="title" id="title" value="{{Title}}">
    </div>
    <div>
        <label for="name">Blog: </label>
        <input type="text" name="blog" id="blog" value="{{Blog}}">
    </div>
    <div>
        <label for="name">Username: </label>
        <input type="text" name="userName" id="userName" value="{{UserName}}">
    </div>
    <div>
        <button type="submit" id="submitButton">Update Blog</button>
    </div>
</form>

<div>
    <button onclick="onDelete()" id="deleteButton">Delete Blog</button>
</div>